#solid {border-style: solid;}
.button {
    background-color: salmon;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h2 {
    color: lightskyblue;
}

h1, h3 {
    color: darkmagenta;
}